
<div class="container mt-5">
    <h1 class="mb-4">Editar Semestre</h1>

    <!-- Mensaje de error, si existe alguno -->
    <p class="text-danger">@ViewBag.Error</p>

    <!-- Formulario para crear un nuevo semestre -->
    <form action="/SemestresControladora/Editar" method="post" class="mt-4">
        <input type="hidden" name="id" value="@ViewBag.Semestre.Id" />

        <div class="form-group mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" value="@ViewBag.Semestre.Nombre" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="ordenNumero">Orden Número</label>
            <input type="number" id="ordenNumero" name="ordenNumero" value="@ViewBag.Semestre.OrdenNumero" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="carreraId">Carrera</label>
            <select id="carreraId" name="carreraId" class="form-control">
                @foreach (var carrera in ViewBag.Carreras)
                {
                    @Html.Raw(carrera.AsOption(ViewBag.Semestre.CarreraId));
                }
            </select>
        </div>

        <!-- Botones de acción -->
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="/SemestresControladora/Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>


